*{
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 960px;
    height: 153px;
    margin-top: 30px;
}

/* Logo Display + Nome Display */
div#display{
    display: inline-block;
    width: 215px;
    height: 60px;
    vertical-align: middle;
}

div#display img{
    padding-right: 10px;
    display: inline-block;
    vertical-align: super;
}

h1 {
    display: inline-block;
    color: #737373;
    font-size: 24px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    vertical-align: text-bottom;
    margin-bottom: 20px;
}

h1:hover{
    color: #2ecc71;
}

/* Menu Rede Sociais */
nav#menuSocial ul.redeSocial{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
}

nav#menuSocial {
    margin-top: 20px;
    float:right;
}

li {
    display: inline-block;
}

nav#menuSocial ul.redeSocial li a{
    display: block;
    width: 34px;
    height: 34px;
    text-indent: -999999px;
}

nav#menuSocial ul.redeSocial li a.twitter{
    background: url(imagens/twitter.png);
}

nav#menuSocial ul.redeSocial li a.facebook{
    background: url(imagens/facebook.png);
}

nav#menuSocial ul.redeSocial li a.rss{
    background: url(imagens/rss.png);
}

nav#menuSocial ul.redeSocial li a.pinterest{
    background: url(imagens/pinterest.png);
}

nav#menuSocial ul.redeSocial li a.google{
    background: url(imagens/google.png);
}

nav#menuSocial ul.redeSocial li a.dribbble{
    background: url(imagens/dribbble.png);
}

nav#menuSocial ul.redeSocial li a.twitter:hover{
    background: url(imagens/twitter_hover.png);
}

nav#menuSocial ul.redeSocial li a.facebook:hover{
    background: url(imagens/facebook_hover.png);
}

nav#menuSocial ul.redeSocial li a.rss:hover{
    background: url(imagens/rss_hover.png);
}

nav#menuSocial ul.redeSocial li a.pinterest:hover{
    background: url(imagens/pinterest_hover.png);
}

nav#menuSocial ul.redeSocial li a.google:hover{
    background: url(imagens/google_hover.png);
}

nav#menuSocial ul.redeSocial li a.dribbble:hover{
    background: url(imagens/dribbble_hover.png);
}

hr {
    opacity: 40%;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Menu de Opções */
nav ul.optionsMenu {
    padding-inline-start: 0px;
    margin: 0px;
}

nav ul.optionsMenu li{
    font-size: 18px;
    padding-top: 30px;
    padding-right: 10px;
}

nav ul.optionsMenu li a:hover {
    color: #2ecc71;
}

nav ul.optionsMenu li a {
    text-decoration: none;
    color: #727272;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* Section Banner*/
section{
    display: block;
    width: 960px;
}

section#banner {
    width: 960px;
    height: 800px;
    margin-bottom: -180px;
}

section#banner div{
    background-image: url(imagens/bg_banner.png);
    height: 500px;
    background-size: cover;
    text-align: center;
}

section#banner img.banner{
    padding-top: 80px;

}

section#banner p {
    color: #AEADAD;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 20px;
}

section#banner a {
    display: block;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 20px;
    width: 185px;
    height: 35px;
    text-decoration: none;
    padding-top: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 20px;
    margin-top: 16px;
}

section#banner a:hover {
    text-decoration: underline;
}

/* Section Conteudo */
section#conteudo {
    width: 940px;
    margin-top: 85px;
}

div.chamada {
    display: inline-block;
    width: 30%;
    margin-left: -2px;
    margin-right: auto;
    padding-inline: 13px;
    margin-bottom: 16px;
}

div.chamada img {
    border-radius: 10px;
}

div.chamada p {
    font-size: 14px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.chamada p.text {
    color: #8A8888;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.chamada a{
    background-color: #cccccc;
    width: 50px;
    height: 20px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

div.chamada a:hover{
    background-color: #2ecc71;
    text-decoration: underline;
}

/* Rodapé */
footer{ 
    width: 960px;
    display: flex;
    height: 90px;
    background-color: #efefef;
    align-items: center;
}

footer p {
    padding-left: 25px;
    color: #575757;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
}