*{
    margin-left: auto;
    margin-right: auto;
}

header{
    width: 90vw;
    height: 90vh;
    max-height: 153px;
    margin-top: 30px;
    max-width: 960px;
}

/* Logo Display + Nome Display */
div#display{
    display: inline-block;
    width: 215px;
    height: 60px;
    vertical-align: middle;
}

div#display img{
    padding-right: 10px;
    display: inline-block;
    vertical-align: super;
}

h1 {
    display: inline-block;
    color: #737373;
    font-size: 24px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    vertical-align: text-bottom;
    margin-bottom: 20px;
}

h1:hover{
    color: #2ecc71;
}

/* Menu Rede Sociais */
nav#menuSocial ul.redeSocial{
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    list-style-type: none;
}

nav#menuSocial {
    margin-top: 20px;
    float:right;
}

li {
    display: inline-block;
}

nav#menuSocial ul.redeSocial li a{
    display: block;
    width: 34px;
    height: 34px;
    text-indent: -999999px;
}

nav#menuSocial ul.redeSocial li a.twitter{
    background: url(imagens/twitter.png);
}

nav#menuSocial ul.redeSocial li a.facebook{
    background: url(imagens/facebook.png);
}

nav#menuSocial ul.redeSocial li a.rss{
    background: url(imagens/rss.png);
}

nav#menuSocial ul.redeSocial li a.pinterest{
    background: url(imagens/pinterest.png);
}

nav#menuSocial ul.redeSocial li a.google{
    background: url(imagens/google.png);
}

nav#menuSocial ul.redeSocial li a.dribbble{
    background: url(imagens/dribbble.png);
}

nav#menuSocial ul.redeSocial li a.twitter:hover{
    background: url(imagens/twitter_hover.png);
}

nav#menuSocial ul.redeSocial li a.facebook:hover{
    background: url(imagens/facebook_hover.png);
}

nav#menuSocial ul.redeSocial li a.rss:hover{
    background: url(imagens/rss_hover.png);
}

nav#menuSocial ul.redeSocial li a.pinterest:hover{
    background: url(imagens/pinterest_hover.png);
}

nav#menuSocial ul.redeSocial li a.google:hover{
    background: url(imagens/google_hover.png);
}

nav#menuSocial ul.redeSocial li a.dribbble:hover{
    background: url(imagens/dribbble_hover.png);
}

hr {
    opacity: 40%;
    margin-top: 5px;
    margin-bottom: 0px;
}

/* Menu de Opções */
nav ul.optionsMenu {
    padding-inline-start: 0px;
    margin: 0px;
}

nav ul.optionsMenu li{
    font-size: 18px;
    padding-top: 30px;
    padding-right: 10px;
}

nav ul.optionsMenu li a:hover {
    color: #2ecc71;
}

nav ul.optionsMenu li a {
    text-decoration: none;
    color: #727272;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/* Section Banner*/
section{
    display: block;
    width: 960px;
}

section#banner {
    max-width: 960px;
    width: 95vw;
}

section#banner div#soImg{
    background-image: url(imagens/bg_banner.png);
    max-height: 500px;
    max-width: 960px;
    width: 95vw;
    background-size: cover;
    text-align: center;
}

section#banner img.banner{
    padding-top: 80px;
    max-width: 830px;
    width: 90vw;
}

section#banner p#lng {
    display: flex;
    color: #AEADAD;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-align: center;
    padding-top: 50px;
}

section#banner a {
    display: flex;
    background-color: #2ecc71;
    color: #ffffff;
    font-size: 20px;
    width: 185px;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    border-radius: 10px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

section#banner a:hover {
    text-decoration: underline;
}

div.container{
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    width: 95vw;
}

div.chamada {
    display: inline-block;
    width: 30%;
    padding-inline: 13px;
}

div.chamada img {
    border-radius: 10px;
}

div.chamada p {
    font-size: 14px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
}

div.chamada p.text {
    color: #8A8888;
    font-size: 24px;
    font-weight: 700;
    margin: 7px;
}

div.chamada a{
    background-color: #cccccc;
    width: 50px;
    height: 20px;
    padding: 7px;
    font-size: 16px;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
}

div.chamada a:hover{
    background-color: #2ecc71;
    text-decoration: underline;
}

/* Rodapé */
footer{ 
    max-width: 960px;
    width: 90vw;
    display: flex;
    height: 90px;
    background-color: #efefef;
    align-items: center;
}

footer p {
    padding-left: 25px;
    color: #575757;
    font-family: 'Roboto',"Trebuchet MS", Arial, Helvetica, sans-serif;
}

@media (max-width: 1000px){

    div.container{
        max-width: 650px;
    }

    div.chamada {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    }
}

@media (max-width: 650px){

    div.container{
        max-width: 500px;
    }

    div.chamada {
    width: 80vw;
    flex-direction: column;
    display: flex;
    text-align: center;
    }
}

@media (max-width: 515px){
    header {
        display: flex;
        width: 90vw;
        height: 90vh;
        max-height: 120px;
        margin-top: 30px;
        margin-bottom: 63px;
        flex-direction: column;
    }

    nav#menuSocial ul.redeSocial {
        margin-top: auto;
        margin-bottom: auto;
        padding: 0px;
    }

    nav ul.optionsMenu li {
        font-size: 18px;
        padding-top: 15px;
        padding-right: 5px;
    }
}